{% include "default/header.html.twig" %}

<script>$('.alert').onClick</script>

{% if alert == true  %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hurray !!</strong> Your feedback has been saved and Email is sent.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<center>
<form class="form-horizontal m-5" action="handleFeedback"  method="post">

  <div class="form-group row m-3">
      <label class= "control-label col-sm-2" for="name">Name :</label> 
      <div class="col-sm-3">
      <input type="text" name="name" class="form-control" id="name">  
      </div>
  </div>

    <div class="form-group row m-3">
      <label class= "control-label col-sm-2" for="email">Email :</label>
       <div class="col-sm-3">
      <input type="email"  name="email" class="form-control" id="name" >
      </div>
    </div>

    <div class="form-group row m-3">
      <label class= "control-label col-sm-2" for="inputCity">Adddress :</label>
       <div class="col-sm-3">
      <input type="text" name="address" class="form-control" id="inputCity">
      </div>
    </div>

  <div class="form-group row m-3">
    <label class= "control-label col-sm-2" for="inputAddress">Suggestion</label>
     <div class="col-sm-3">
    <input type="textarea" name="suggestion" class="form-control " id="inputAddress" >
    </div>
  </div>

  <div class="form-group row m-">
   <div class="col-sm-2">
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </div>
  </div>
</form>
</center>

{% include "default/footer.html.twig" %}
