{% include "default/boilerplate.html.twig" %}

<footer class="py-3 my-4 bg-dark">

	<ul class="nav justify-content-center mt-3 pb-3 mb-2">

		<li class="nav-item">
			<a href="/home" class="nav-link  text-white px-2 ">Home</a>
		</li>

		<li class="nav-item">
			<a href="/footwear" class="nav-link text-white  px-2 ">Footwear</a>
		</li>

		<li class="nav-item">
			<a href="/clothing" class="nav-link text-white  px-2 ">Clothings</a>
		</li>

		<li class="nav-item">
			<a href="/beauty" class="nav-link text-white  px-2 ">Beauty Product</a>
		</li>

		<li class="nav-item">
			<a href="/electronic" class="nav-link  text-white  px-2">Electronics</a>
		</li>
		<li class="nav-item">
			<a href="/feedback" class="nav-link text-white  px-2">Feedback</a>
		</li>

	</ul>

	<p class="text-center text-white ">© 2022 Company, Inc</p>

</footer>

