{% include "default/temp.html.twig" %}

<!--header section start -->
<nav class="navbar">
  <form class="container-fluid justify-content-in-between"> 
    <div>
     <a class="navbar-brand" href="#">
    <img src="images/logo/buy.png" alt="Bootstrap" width="80" height="70"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>DoBuySomething</strong>
     </a>
     </div>
     <div>
    <button class="btn btn-outline-success me-2" type="button">Clothing</button>
    <button class="btn btn-outline-success me-2" type="button">Footwear</button>
    <button class="btn btn-outline-success me-2" type="button">Beauty</button>
    <button class="btn btn-outline-success me-2" type="button">Electronics</button>
    <button class="btn btn-outline-success me-2" type="button">Feedback Form</button>
     </div>
  </form>

  <hr/>
 
</nav>