{% include "default/header.html.twig" %}


<style>
	.filterImg {
		height: 330px;
		width: 350px;
		border-radius: 20%;
	}
</style>

{# Men's Clothing Section #}
<div class="container ">
  <div class="row mx-3 p-3">
    <div class="col">
      <h5>Men's Clothing </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-0">
     <a href="/menclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/men/unrec/2-men_03._CB615690937_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/menclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/men/unrec/2-men_04._CB615690937_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/menclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/men/unrec/2-men_07._CB615690937_.jpg" alt="">
		</a>
    </div>
     <div class="col-3">
     <a href="/menclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/men/unrec/2-men_05._CB615690937_.jpg" alt="">
		</a>
    </div>
  </div>
</div>


{# Women's Clothing Section #}

<div class="container ">
  <div class="row mx-3 p-3">
    <div class="col">
      <h5>Women's Clothing </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-0">
     <a href="/womenclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/women/unrec/1-Women_03._CB615668453_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/womenclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/women/unrec/1-Women_04._CB615668453_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/womenclothing">
			<img class="filterImg" src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/women/unrec/1-Women_05.jpg" alt="">
		</a>
    </div>
     <div class="col-3">
     <a href="/womenclothing">
			<img class="filterImg" src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/SBC/women/unrec/1-Women_07.jpg" alt="">
		</a>
    </div>
  </div>
</div>


{# Footwear Section #}

<div class="container ">
  <div class="row mx-3 p-3">
    <div class="col">
      <h5>Footwear </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-0">
     <a href="/footwear">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/Unrec/SBCs/Mensshoes/1-SBC-men-shoe_05._CB615675971_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/footwear">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/Unrec/SBCs/Mensshoes/1-SBC-men-shoe_06._CB615675971_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/footwear">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/Unrec/SBCs/Womensshoes/Eng/1-SBC_05._CB615676242_.jpg" alt="">
		</a>
    </div>
     <div class="col-3">
     <a href="/footwear">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/Unrec/SBCs/Womensshoes/Eng/1-SBC_06._CB615676242_.jpg" alt="">
		</a>
    </div>
  </div>
</div>

<div class="container ">
  <div class="row mx-3 p-3">
    <div class="col">
      <h5>Beauty Products </h5> 
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-0">
     <a href="/beauty">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/Beauty/aman/janart/Haircare-SBC-Hex_07._SY530_QL85_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/beauty">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/Beauty/aman/janart/Makeup_07._SS400_QL85_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/beauty">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/Beauty/aman/janart/Makeup_09._SS400_QL85_.jpg" alt="">
		</a>
    </div>
     <div class="col-3">
     <a href="/beauty">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/Beauty/aman/janart/Perfumes-SBC-Hex_14._SY530_QL85_.jpg" alt="">
		</a>
    </div>
  </div>
</div>

<div class="container ">
  <div class="row mx-3 p-3">
    <div class="col">
      <h5>Electronics </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-0">
     <a href="/electronic">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/WLA/JanART23/Sprite/D67886796_IN_WLA_JanART_Teaser-Graphics_sprite-with-ribon4._CB617396358_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/electronic">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/WLA/JanART23/Sprite/D67886796_IN_WLA_JanART_Teaser-Graphics_sprite-with-ribon2._CB617396358_.jpg" alt="">
		</a>
    </div>
    <div class="col-3">
     <a href="/electronic">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/WLA/JanART23/Sprite/D67886796_IN_WLA_JanART_Teaser-Graphics_sprite-with-ribon1._CB617396358_.jpg" alt="">
		</a>
    </div>
     <div class="col-3">
     <a href="/electronic">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/WLA/JanART23/Sprite/D67886796_IN_WLA_JanART_Teaser-Graphics_sprite-with-ribon3._CB617396358_.jpg" alt="">
		</a>
    </div>
  </div>
</div>
{# {{category[0]}} #}


{% include "default/footer.html.twig" %}